<section class="dashboard-section">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class=content>
                <div class="wrapper-1">
                    <div class="wrapper-2">
                        <img src="assets/images/cross.png" alt="" style="height: 100px;">
                        <h1 style="color: red; margin-top: 30px;">Failed !</h1>
                        <p style="font-size: 2rem;margin-bottom: 30px; color: red;">Payment Failed</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
