<footer>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="menu-info">
                    <ul class="footer-links">
                        <li class="link-menu">
                            <a href="#">eaarjav.com</a>
                        </li>
                        <li class="link-menu">
                            <a href="#"> Principles of Fair Use</a>
                        </li>
                        <li class="link-menu">
                            <a href="#"> Home</a>
                        </li>
                        <li class="link-menu">
                            <a href="#"> Update History</a>
                        </li>
                        <li class="link-menu">
                            <a href="#"> Help</a>
                        </li>
                        <li class="link-menu">
                            <a href="#"> Contacts</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-copyright">ELZ Private Limited 2023 © All rights reserved</div>
            </div>
        </div>
    </div>
</footer> 