<!-- <section class="breadcrumb-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>  
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div> 
        </div>
    </div>
</section>

<section class="dashboard-section">
    <div class="container">
        <div class="row">
            <div class="dashboard-part">
                <div class="dashboard-left" style="margin: 0 auto;">
                    <div *ngIf="isLoader">
                        <app-loader></app-loader>
                    </div>
                    <div class="dashboard-stat" *ngIf="!isLoader">
                        <div class="stat-header">
                            <div class="text-title">Information </div>
                            <div class="des">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
                                consequuntur doloribus rem, quo ipsam itaque eveniet placeat voluptate soluta, modi
                                nemo molestiae quam iure aut dolores deserunt facere ullam quod tempora dolorum
                                optio. Laborum, mollitia!</div>
                        </div>
                        <div class="stat-cards-list">
                            <div class="stat-card-item">
                                <div class="icon"><i class="fal fa-chart-bar"></i></div>
                                <div class="text">{{dashboardDetails.totalDocument}}</div>
                                <div class="sub-text">Total Document</div>
                            </div>
                            <div class="stat-card-item">
                                <div class="icon"><i class="fal fa-file-signature"></i></div>
                                <div class="text">{{dashboardDetails.totalLetter}}</div>
                                <div class="sub-text">Total No. Of Letter</div>
                            </div>
                            <div class="stat-card-item">
                                <div class="icon"><i class="fal fa-tag"></i></div>
                                <div class="text">{{dashboardDetails.duePlanLetter}}</div>
                                <div class="sub-text">Total Due Letter</div>
                            </div>
                            <div class="stat-card-item">
                                <div class="icon"><i class="fal fa-user-plus"></i></div>
                                <div class="text">{{dashboardDetails.usesLetter}}</div>
                                <div class="sub-text">Total Uses Letter</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->